@media (max-width: 1120px) {
  .menu {
    &__logo {
      margin-right: 100px;
    }
  }
  .main {
    &__video {
      transform: scale(0.8);
    }
    &__h1 {
      transform: scale(0.8) !important;
    }
  }
  .tecnology {
    &__list {
      transform: scale(0.8);
    }
  }
  .tecnology-h1 {
    font-size: 28px;
  }
  .services {
    &__h1-three {
      width: 800px;
    }
  }
  .contact {
    &__info {
      margin-left: 580px;
    }
    &__h1-strong {
      top: 2625px;
    }
    &__elem5 {
      top: 2300px;
    }
  }
}
@media (max-width: 1000px) {
  .menu {
    &__logo {
      margin-right: 60px;
    }
  }
  .main {
    &__video {
      transform: scale(0.7);
    }
    &__h1 {
      transform: scale(0.7) !important;
    }
  }
  .tecnology {
    &__list {
      transform: scale(0.7);
    }
  }
  .tecnology-h1 {
    font-size: 25px;
  }
  .services {
    &__h1-three {
      width: 750px;
    }
  }
  .contact {
    &__info {
      transform: scale(0.8);
      margin-left: 500px;
    }
    &__h1-strong {
      font-size: 18px;
      top: 2670px;
    }
  }
}
@media (max-width: 999px) {
  .menu {
    &__logo {
      margin-right: 40px;
    }
  }
  .main {
    &__video {
      margin-left: 350px;
    }
    &__h1 {
      margin-left: -120px;
      transform: scale(0.7) !important;
    }
  }
  .tecnology {
    &__list {
      transform: scale(0.7);
    }
  }
  .tecnology-h1 {
    font-size: 25px;
  }
  .services {
    &__h1-two {
      font-size: 20px;
    }
    &__h1-three {
      font-size: 20px;
      width: 600px;
    }
    &__h1-four {
      font-size: 18px;
      width: 500px;
    }
  }
  .contact {
    &__info {
      transform: scale(0.8);
      margin-left: 350px;
    }
    &__h1-strong {
      font-size: 15px;
      margin-left: 130px;
      width: 400px;
      top: 2635px;
    }
    &__elem5 {
      top: -300px;
    }
  }
}
