$bgColor: #24292e;
$text: #fff;
$clGray: #323232;
@font-face {
  font-family: 'Comic';
  src: url('../fonts/comic.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope.ttf') format('truetype');
  font-weight: normal;
}
body {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: Manrope;
  background-color: rgb(27, 27, 27);
  color: $text;
}
html,
body {
  overflow-x: hidden !important;
}
@import '../components/header.scss';
@import '../components/main.scss';
@import '../components/tecnology.scss';
@import '../components/services.scss';
@import '../components/contact.scss';
@import '../components/footer.scss';
@import '../components/animation.scss';
@import '../components/buy.scss';
@import '../components/adaptive.scss';
@import '../components/mobileMenu.scss';
